<h2 mat-dialog-title>Disclaimer</h2>
<mat-dialog-content class="mat-typography">
  <br>
  <p style="font-size: 16px; line-height: 2;">This website followes the relevant rules of the Bar Council of India. ByClicking, " I Agree Below user acknowledge and 
      confirms that the contents of webiste anre meant to provide necessary  information about the firm, Lawnetics and updates on relevant laws in India. 
       This  information provided here in not legal advice , and the Firm disclaims  all liablity arising from reliance placed
       by the user on the information contained therein. The Firm has made all efforst to ensure the accuracy 
       of the contents of this webiste. the user also confirms that there has been no advertisement 
       personal communication ,solicitation, inviatation or inducement of any sort whatsoever from the Firm 
       or any of its member to sicit any work or advertise through this Website. 
  </p>
   <br>
 
  <p style="font-size: 16px;">Please read and accept this Webiste's Terms of Use and Privacy Policy before proceeding to acces the same.</p>

  <br>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn"><a href="https://www.google.co.in/">I DISAGREE</a> </button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>I AGREE</button>
</mat-dialog-actions>